<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h3>ユーザ登録画面</h3>
  {% if error != null %}
    <p style="color:red">{{error}}</p>
  {% endif %}
  <form action="{{url_for('register_exe')}}" method="post">
    ユーザ名:<input type="text" name="username" value="{{user_name}}"><br>
    パスワード：<input type="password" name="password" value="{{password}}"><br>
    <button type="submit">登録</button>
  </form>
</body>
</html>